:root .theme_dark {
  --text-color-primary: #F1B2CE;
  --text-color-secondary: #DB00FF; 
  --text-color-tertiary: #FF0070;
  --text-color-emphasis: #000028;
  --background-color: #000028;
  --background-color-primary: #FF0070;
  --background-color-secondary: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --border-color: #FF0070;
  --border-color-opacity: rgba(255, 0, 112, 0.4);
  --rec-visible: visible;
}