:root .theme_light {
  --text-color-primary: #353430;
  --text-color-secondary: #FFC2E6;
  --text-color-tertiary: #353430;
  --text-color-emphasis: #353430;
  --background-color: #fff1f7;
  --background-color-primary: #FF8DCB;
  --background-color-secondary: #FF0070;
  --background-image: url(../images/cover-image-light.png);
  --rec-visible: hidden;
  --border-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
:root {
  --text-color-primary: #353430;
  --text-color-secondary: #FFC2E6;
  --text-color-tertiary: #353430;
  --text-color-emphasis: #353430;
  --background-color: #fff1f7;
  --background-color-primary: #FF8DCB;
  --background-color-secondary: #FF0070;
  --background-image: url(../images/cover-image-light.png);
  --rec-visible: hidden;
  --border-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
  }
}